
*{
  box-sizing: border-box;
}
.container-productManager{
  width: 80%;
  height: auto;
  margin: auto;
}
.manager{
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: rgb(158, 143, 143);
  margin: 10px auto;
}

.showlist{
  width: 60%;
  height: auto; 
  padding: 10px;
  background-color: rgb(206, 196, 194);
  margin: 10px auto;
}

button{
  width: 50px;
  height: 30px;
  background-color: coral;
}

.showlist-element{
  width: 100%;
  height: auto;
  padding: 4px;
  background-color: rgb(243, 213, 213);
  margin: 5px 0px;

  display:grid;
  grid-template-columns: 200px 300px 1fr;
}
.showlist-element>div>button:first-child{
  background-color: rgb(63, 118, 170);
}
.showlist-element>div>button:last-child{
  background-color: rgb(63, 170, 99);
}


.showlist-element>div:nth-child(2){
  
  margin-left: 10px; 
  padding-left: 10px;
  border-left: 5px solid rgb(104, 100, 100); 

}



